<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Car Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>AUTOMOTIVE REPAIR</h1>
    <hr>
    <h2>Create new car</h2>

    <form action="#" th:action="@{/createCar}" th:object="${car}" method="POST">
        <input type="text" th:field="*{licensePlate}" placeholder="License Plate" class="form-control mb-4 col-4">
<!--        //placeholder -> Hint-->

        <input type="text" th:field="*{customerName}" placeholder="Customer Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{catalog}" placeholder="Catalog" class="form-control mb-4 col-4">

        <input type="text" th:field="*{carMaker}" placeholder="Car Maker" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Car</button>
    </form>

    <hr>

    <a th:href="@{/home}"> Back to HOME</a>
</div>
</body>

</html>