<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap"
    />
  </head>
  <body>
    <div class="bangdiem">
      <main class="main-interface">
        <img class="truso1-1-icon" alt="" src="./public/truso1-1@2x.png" />

        <img
          class="banner-nhap-hoc-1"
          alt=""
          src="./public/banner-nhap-hoc-1@2x.png"
        />
      </main>
      <div class="user-actions">
        <div class="login-register">Login / Register</div>
      </div>
      <div class="navigation">
        <div class="layout"></div>
        <div class="task-bar-parent">
          <div class="task-bar"></div>
          <div class="navigation-labels">
            <b class="gii-thiu">GIỚI THIỆU</b>
          </div>
          <div class="navigation-labels1">
            <b class="thng-tin-sinh">THÔNG TIN SINH VIÊN</b>
          </div>
          <div class="navigation-labels2">
            <b class="thi-kha-biu">THỜI KHÓA BIỂU</b>
          </div>
          <button class="rectangle-parent">
            <div class="frame-child"></div>
            <b class="bng-im">BẢNG ĐIỂM</b>
          </button>
        </div>
        <div class="table-1"></div>
      </div>
    </div>
  </body>
</html>