<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="home_global.css" />
    <link rel="stylesheet" href="home_index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap"
    />
  </head>
  <body>
    <div class="home">
      <div class="truso1-1-parent">
        <img class="truso1-1-icon" alt="" src="./public/truso1-1@2x.png" />

        <img
          class="banner-nhap-hoc-1"
          loading="lazy"
          alt=""
          src="./public/banner-nhap-hoc-1@2x.png"
        />
      </div>
      <div class="login-register-wrapper">
        <div class="login-register">Login / Register</div>
      </div>
      <main class="highlight-design">
        <div class="layout"></div>
        <div class="highlight-design-inner">
          <div class="task-bar-parent">
            <div class="task-bar"></div>
            <button class="rectangle-parent">
              <div class="frame-child"></div>

              <b class="gii-thiu">GIỚI THIỆU</b>
            </button>
            <div class="thng-tin-sinh-vin-wrapper">
              <b class="thng-tin-sinh">THÔNG TIN SINH VIÊN</b>
            </div>
            <div class="thi-kha-biu-wrapper">
              <b class="thi-kha-biu">THỜI KHÓA BIỂU</b>
            </div>
            <div class="bng-im-wrapper">
              <b class="bng-im">BẢNG ĐIỂM</b>
            </div>
            <b class="i-hc-phng-container">
              <span class="i-hc-phng-container1">
                <p class="i-hc-phng">
                  Đại học Phương Đông là một trong những trường ĐH ngoài công
                  lập đầu tiên trong hệ thống giáo dục đại học Việt Nam. Trường
                  được thành lập theo Quyết định số 350/TTg ngày 8/7/1994 của
                  Thủ tướng Chính phủ và chính thức đi vào hoạt động theo quyết
                  định số 2282/GD-ĐT của Bộ Giáo dục và Đào tạo ngày 16/8/1994.
                  Nhà trường tổ chức khai giảng khóa đầu tiên ngày 24/10/1994.
                  Ngày này được lấy làm ngày truyền thống của nhà trường.  ĐH
                  Phương Đông thuộc hệ thống giáo dục quốc dân nước Cộng hoà Xã
                  hội Chủ nghĩa Việt Nam, chịu sự quản lí Nhà nước về giáo dục
                  và đào tạo của Bộ Giáo dục và Đào tạo và các cơ quan quản lí
                  giáo dục theo sự phân công, phân cấp của Chính phủ; đồng thời
                  chịu sự quản lí hành chính theo lãnh thổ của Uỷ ban Nhân dân
                  thành phố Hà Nội.  
                </p>
                <p class="blank-line">&nbsp;</p>
                <p class="blank-line1">&nbsp;</p>
                <p class="blank-line2">&nbsp;</p>
                <p class="blank-line3">&nbsp;</p>
                <p class="blank-line4">&nbsp;</p>
                <p class="blank-line5">&nbsp;</p>
                <p class="blank-line6">&nbsp;</p>
                <p class="blank-line7">&nbsp;</p>
                <p class="blank-line8">&nbsp;</p>
                <p class="blank-line9">&nbsp;</p>
                <p class="blank-line10">&nbsp;</p>
                <p class="blank-line11">&nbsp;</p>
                <p class="h-phng-ng">
                  ĐH Phương Đông là cơ sở giáo dục đại học do một tập thể các
                  nhà giáo, nhà khoa học, nhà đầu tư cùng đóng góp công sức,
                  kinh phí và cơ sở vật chất ban đầu thành lập. Trường có tư
                  cách pháp nhân, con dấu, tài khoản và tự chủ trong khuôn khổ
                  pháp luật về tổ chức bộ máy, tuyển dụng lao động và tài chính;
                  bình đẳng với các trường đại học khác về nhiệm vụ, quyền hạn,
                  nghĩa vụ và quyền lợi của giảng viên, cán bộ, nhân viên, học
                  sinh, sinh viên trong việc thực hiện mục tiêu, chương trình,
                  nội dung, phương pháp đào tạo và các quy định liên quan đến
                  tuyển sinh, dạy và học, thi, kiểm tra, công nhận tốt nghiệp,
                  cấp văn bằng chứng chỉ; được hưởng các chính sách ưu đãi đối
                  với các cơ sở giáo dục - đào tạo theo quy định của Chính phủ.
                </p>
                <p class="blank-line12">&nbsp;</p>
                <p class="tri-qua-gn">
                  Trải qua gần 20 năm xây dựng và phát triển, ĐH Phương Đông
                  bằng nội lực của chính mình, tự lập, vươn lên và đã khẳng định
                  được vị trí của mình là một trường Đại học có quy mô trung
                  bình, đào tạo đa ngành, đa hệ, đa lĩnh vực, góp phần thực hiện
                  chủ trương XHH giáo dục, phục vụ sự nghiệp phát triển kinh
                  tế-xã hội, CNH-HĐH đất nước.
                </p>
                <p class="mc-tiu-quy">
                  Mục tiêu quy hoạch xây dựng và phát triển ĐH Phương Đông đến
                  năm 2020 được đề ra là xây dựng Nhà trường thành một cơ sở đào
                  tạo đại học hoàn chỉnh với quy mô khoảng 15.000 sinh viên,
                  ngang tầm với các trường đại học hàng đầu quốc gia, tiếp cận
                  trình độ khu vực và thế giới.
                </p>
                <p class="blank-line13">&nbsp;</p>
                <p class="ng-trc-nhng">
                  Đứng trước những cơ hội và thách thức của xu thế phát triển
                  kinh tế xã hội nói chung và giáo dục đại học nói riêng, ĐH
                  Phương Đông phát huy nội lực là chính với tinh thần tự lực, đã
                  có những cố gắng, nỗ lực bước đầu đáng ghi nhận, góp phần vào
                  sự nghiệp xã hội hoá giáo dục của Đảng và Nhà nước. Sự ra đời
                  và tồn tại của nhà trường là một tất yếu khách quan. Tuy
                  nhiên, trong giai đoạn tới việc nâng cao uy tín và vị thế của
                  trường là một yêu cầu thiết yếu nhằm bảo đảm sự tồn tại bền
                  vững trong môi trường cạnh tranh ngày càng gay gắt.
                </p>
                <p class="blank-line14">&nbsp;</p>
                <p class="th-mnh-ng">
                  Thế mạnh đáng nói nhất của ĐH Phương Đông thể hiện ở tính tự
                  lập và khả năng phát huy nội lực trong việc xây dựng chương
                  trình đào tạo; đội ngũ cán bộ, giảng viên; phát triển cơ sở
                  vật chất phục vụ cho hoạt động của nhà trường. Đặc biệt, việc
                  tổ chức hoạt động đào tạo không sao chép mà sáng tạo, không
                  dập khuôn bắt chước mà luôn tìm hướng đi mới, coi chất lượng
                  đào tạo là vấn đề cốt lõi, đặc biệt chú trọng tới khả năng tác
                  nghiệp, thích ứng nhu cầu xã hội của người học. Công cuộc đổi
                  mới mang đến cho đất nước những chuyển biến tích cực, kinh tế
                  thị trường phát triển, xã hội đòi hỏi sinh viên ra trường phải
                  có khả năng đáp ứng những tiêu chuẩn hết sức khắt khe về trình
                  độ, năng lực tiếp thu tiến bộ khoa học, công nghệ mới. Một nền
                  học vấn đa dạng sẽ là nền tảng cốt yếu cho sự thành công.
                  Trong việc tìm lối đi khác, đi trước về chất lượng đào tạo đáp
                  ứng nhu cầu xã hội ngày càng cao, ĐH Phương Đông quan cho
                  rằng: Chất lượng đào tạo trước hết phải thể hiện ở năng lực
                  hoạt động (thích nghi nhanh với thực tế và sáng tạo trong tư
                  duy) của sinh viên ra trường. Muốn đạt được mục tiêu đó,
                  chương trình đào tạo phải trang bị cho sinh viên những modun
                  kiến thức có hàm lượng thông tin cao và phương pháp luận tiên
                  tiến. Khối lượng kiến thức được trang bị phù hợp với yêu cầu
                  của thị trường lao động. Ngoài ra, sinh viên còn phải được
                  trang bị những công cụ sắc bén và hiệu quả khác nhằm phát huy
                  tối đa tiềm năng trí tuệ khi tác nghiệp trong hoạt động sản
                  xuất, kinh doanh sau khi tốt nghiệp ra trường.
                </p>
                <p class="blank-line15">&nbsp;</p>
                <p class="trung-thnh-vi">
                  Trung thành với sứ mạng, mục đích và những tiêu chí của mình,
                  sau gần 20 năm xây dựng và phát triển, ĐH Phương Đông đang
                  tiến dần đến quy mô 10.000 sinh viên; đào tạo đa ngành, đa hệ,
                  đa lĩnh vực; uy tín của nhà trường ngày càng được nâng cao;
                  khẳng định chỗ đứng vững chắc trong hệ thống giáo dục đại học
                  Việt Nam; xoá dần mặc cảm và quan niệm không chính xác về khối
                  trường ngoài công lập.
                </p>
                <p class="blank-line16">&nbsp;</p>
                <p class="bo-nhn-dn">
                  Báo Nhân dân số ra ngày 28/3/2002 có đoạn viết: "...ĐH Phương
                  Đông vượt qua nhiều thử thách ban đầu, vươn lên bằng chính nội
                  lực của mình với chất lượng đào tạo được chứng minh bằng số
                  lượng sinh viên tốt nghiệp ra trường có tỷ lệ xin được việc
                  làm cao, trong đó hầu hết phù hợp với ngành nghề đào tạo...".
                </p>
              </span>
            </b>
          </div>
        </div>
        <section class="frame-parent">
          <div class="truso1-2-wrapper">
            <img
              class="truso1-2-icon"
              loading="lazy"
              alt=""
              src="./public/truso1-2@2x.png"
            />
          </div>
          <div class="logo-dai-hoc-phuong-dong-inkyt-wrapper">
            <img
              class="logo-dai-hoc-phuong-dong-inkyt-icon"
              loading="lazy"
              alt=""
              src="./public/logodaihocphuongdonginkythuatso01-1@2x.png"
            />
          </div>
          <img
            class="truong-dai-hoc-phuong-dong-2-1-icon"
            loading="lazy"
            alt=""
            src="./public/truongdaihocphuongdong2-1@2x.png"
          />
        </section>
      </main>
    </div>
  </body>
</html>