<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="ttsv">
      <main class="homepage">
        <img class="truso1-1-icon" alt="" src="./public/truso1-1@2x.png" />

        <img
          class="banner-nhap-hoc-1"
          alt=""
          src="./public/banner-nhap-hoc-1@2x.png"
        />
      </main>
      <div class="navigation">
        <div class="login-register">Login / Register</div>
      </div>
      <div class="main-menu">
        <div class="layout"></div>
        <div class="navigation-content">
          <div class="navigation-labels">
            <div class="task-bar"></div>
            <div class="menu-options">
              <b class="gii-thiu">GIỚI THIỆU</b>
            </div>
            <div class="student-information">
              <button class="student-data">
                <div class="student-data-child"></div>
                <b class="thng-tin-sinh">THÔNG TIN SINH VIÊN</b>
              </button>
            </div>
            <div class="menu-options1">
              <b class="thi-kha-biu">THỜI KHÓA BIỂU</b>
            </div>
            <div class="menu-options2">
              <b class="bng-im">BẢNG ĐIỂM</b>
            </div>
          </div>
        </div>
        <div class="student-details">
          <div class="student-details-child"></div>
          <div class="detail-labels">
            <div class="student-fields">
              <div class="personal-information">
                <div class="mssv">MSSV</div>
                <div class="additional-details">
                  <div class="ni">Nơi ở</div>
                </div>
              </div>
            </div>
            <div class="credentials">
              <img
                class="taikhoan-icon"
                loading="lazy"
                alt=""
                src="./public/taikhoan.svg"
              />

              <div class="username-field">
                <img
                  class="taikhoan-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/taikhoan-1.svg"
                />
              </div>
            </div>
            <div class="student-fields1">
              <div class="h-v-tn-parent">
                <div class="h-v-tn">Họ và Tên</div>
                <div class="cccd-wrapper">
                  <div class="cccd">CCCD</div>
                </div>
              </div>
            </div>
            <div class="password-input">
              <div class="matkhau"></div>
              <div class="password-confirmation">
                <div class="matkhau1"></div>
              </div>
            </div>
            <div class="student-fields2">
              <div class="gii-tnh-parent">
                <div class="gii-tnh">Giới tính</div>
                <div class="m-lp-wrapper">
                  <div class="m-lp">Mã lớp</div>
                </div>
              </div>
            </div>
            <div class="taikhoan-parent">
              <img
                class="taikhoan-icon2"
                loading="lazy"
                alt=""
                src="./public/taikhoan-2.svg"
              />

              <img
                class="taikhoan-icon3"
                loading="lazy"
                alt=""
                src="./public/taikhoan-3.svg"
              />
            </div>
            <div class="birth-date">
              <div class="ngy-sinh">Ngày sinh</div>
            </div>
            <div class="matkhau-parent">
              <input class="matkhau2" type="text" />

              <div class="matkhau3"></div>
            </div>
          </div>
          <div class="action">
            <button class="lu">
              <b class="lu1">Lưu lại</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>